body {
    background-color: #2B303C
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.content {
    display: flex;
    padding: 15vh 0;
    width: 55vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vh;
}

.lightText {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: min(max(1.25vw, 16px),20px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.bodyText {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: min(max(1.25vw, 16px),20px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bodyText a {
    text-decoration: underline;
}

.title-image{
    width: 80%
}

.project-images {
    width: 100%;
}

@media (orientation: portrait) {
    .content {
        display: flex;
        padding: 15vh 0;
        width: 75vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }
    .lightText {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: min(max(1vw, 12px),16px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .bodyText {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: min(max(1vw, 12px),16px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .title-image{
        width: 80%
    }
    
    .project-images {
        width: 100%;
    }
}